* {
  padding: 0px;
  margin: 0px;
  font-family: 'JetBrains Mono', monospace;
}
:root {
  --date-height: 60px;
  --weekdays-height: 3rem;
}
.calendar {
  width: 100vh;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 27px;
}
.date {
display: flex;
  font-size: 40px;
  height: var(--date-height);
}
.date #left{
  position: absolute;
  top: 0px;
  left: 600px;
}
.date #right{
  position: absolute;
  top: 0px;
  left: 650px;
}
.weekdays {
  display: flex;
  height: var(--weekdays-height);
}

.weekdays div {
  width: calc(100vh / 7);

}
.day {
  display: flex;
  flex-wrap: wrap;

}
.day div{
    width: calc(100vh / 7);
    height: calc((100vh - var(--date-height) - var(--weekdays-height)) / 6);

}
.list{
  box-shadow: 0px 0px 2px 2px gray;
  position: absolute;
  top: 4px;
  left: calc(100vh + 70px);
  height: calc(99vh);
  width: 500px;


}
