* {
  padding: 0px;
  margin: 0px;
  font-family: 'JetBrains Mono', monospace;
}
:root {
  --menu-width: 0px;
  --title-height: 1.7rem;
}
body {
  background-color: teal;

}
.menu {
    color: white;
    font-size: 20px;
}
.console {
  position: absolute;
  background-color: white;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.console div#frame{
  position: absolute;
  top: var(--title-height);
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.console div:first-child{
margin: 5px;
}
.console div iframe{
  border: none;
  width: 100%;
  height: 100%;
}
.console div i {
  margin: 0px 5px 0px 0px;
  padding: 2px 3px 3px 3px;
  border-radius: 3px;
}
